---
apiVersion: v1
kind: Namespace
metadata:
  name: qa
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: python
  labels:
    app: python
  namespace: qa
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python
  template:
    metadata:
      labels:
        app: python
    spec:
      containers:
      - name: python
        image: gsaiprasanna/py-flask:v1.0.2
        ports:
        - containerPort: 5000